<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" data-backdrop="false" data-keyboard="false">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <div class="row"><h4 class="modal-title"><img src="assets/stacked.png" align="center" height="100"
                                                      style="display: block; margin: auto"></h4></div>
      </div>
      <div class="modal-body">
        <p style="text-align: center">Welcome to PocketHealth! <br><br>From new products to new partners, discover our
          latest company news.

          <a class="dialog-button" (click)="openDialog()">Subscribe?</a>

        </p>
      </div>
      <div class="modal-footer">
        <p style="text-align: center">
          <small>&copy; 2022 PocketHealth Inc.</small><br>
          <small><a class="links" href="/privacy">Privacy Policy</a> | <a class="links" href="/tos">Terms of Service</a></small>
        </p>
      </div>
    </div>
  </div>
</div>
